Pods/
docs/.docusaurus/
docs/build/
lib/
node_modules/
vendor/
.gradle/

*.lottie.json

example/android/build/
example/android/app/build/
example/ios/build/
example/src/**/Lottie/*.json

FabricExample/android/build/
FabricExample/android/app/
FabricExample/ios/build/
FabricExample/src/**/Lottie/*.json

android/build/
android/.cxx/

tea.yaml
